<%= form_tag(users_path, method: :get) do %>
  <div class="control">
    <%= text_field_tag :query, @query, placeholder: "ãƒ¦ãƒ¼ã‚¶ãƒ¼ã‚’æ¤œç´¢ã™ã‚‹" %>
  </div>
  <div class="control">
    <%= submit_tag "æ¤œç´¢" %>
  </div>
<% end %>
<div>
<% @users.each do |user| %>
  <div>
    <%= user.name %>
    <%= form_tag(nice_user_path(user.id), method: :post) do %>
      <%= submit_tag "ðŸ‘" %>
    <% end %>
  </div>
<% end %>
</div>
